<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página no encontrada</title>
    <link rel="stylesheet" href="./error-404.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img class="ghost" src="https://i.gifer.com/origin/78/787899e9d4e4491f797aba5c61294dfc.gif" alt="Ghost">
        <div class="error">404</div>
        <h2>ERROR 404 NOT FOUND!</h2>
        <p>Lo sentimos, la página que buscas no existe.</p>
        <a href="/login" class="btn">Volver al Inicio</a>
    </div>
</body>
</html>
