<div class="flex flex-col items-center p-4 space-y-6">
    <div class="flex space-x-6 w-full max-w-4xl">
      <div class="flex flex-col items-center space-y-4 p-6 bg-white shadow-lg rounded-xl">
        <div class="mx-auto d-flex align-items-center justify-content-center rounded-circle bg-light background_avatar">
            <i class="bi bi-person-circle" style="font-size: 80px;"></i>
        </div>
        <h2 class="text-xl font-bold text-center mt-4">DEPARTAMENTO DE RECURSOS HUMANOS</h2>
      </div>
      
      <div class="flex flex-col space-y-4 w-full">
        <div class="p-4 bg-gray-300 rounded-lg shadow-md">
          <button class="w-full text-center text-lg font-bold text-gray-700">EDITAR PERFIL DE USUARIO</button>
        </div>
        <div class="p-4 bg-gray-300 rounded-lg shadow-md">
          <button class="w-full text-center text-lg font-bold text-gray-700">CALENDARIO</button>
        </div>
        <div class="p-4 bg-gray-300 rounded-lg shadow-md">
            <button class="w-full text-center text-lg font-bold text-gray-700">REUNIONES</button>
        </div>
      </div>
    </div>
    
    <div class="p-6 bg-white shadow-lg rounded-xl w-full max-w-4xl">
      <ul class="space-y-3">
        <li href="" class="flex items-center justify-center space-x-2 p-2 border border-gray-300 rounded-lg">
          <img src="https://cdn-icons-png.flaticon.com/512/2285/2285516.png" alt="Lista" class="w-5 h-5" /> <span>Listado empleados</span>
        </li>
        <li href="/empleados" class="flex items-center justify-center space-x-2 p-2 border border-gray-300 rounded-lg">
          <img src="https://cdn-icons-png.flaticon.com/512/992/992651.png" alt="Añadir" class="w-5 h-5" /> <span>Añadir empleado</span>
        </li>
        <li class="flex items-center justify-center space-x-2 p-2 border border-gray-300 rounded-lg">
          <img src="https://w7.pngwing.com/pngs/779/63/png-transparent-book-computer-icons-book-angle-furniture-rectangle.png" alt="Editar" class="w-5 h-5" /> <span>Formaciones</span>
        </li>
        <li class="flex items-center justify-center space-x-2 p-2 border border-gray-300 rounded-lg">
          <img src="https://cdn-icons-png.flaticon.com/512/1656/1656819.png" alt="Eliminar" class="w-5 h-5" /> <span>Claustro</span>
        </li>
      </ul>
    </div>
</div>
