<section class="bodyest seccion-clara  ">
    <div class="container mt-4 text-center ">

        <div class="row g-4">
            <div class="col-12 col-md-6 ">
            
            <div class="p-5 mt-4 text-center"><button class="boton">  <i class="bi bi-person-plus-fill"></i><span> Crear empleado</span></button></div>
            </div>
            <div class="col-12 col-md-6">
            <div class="p-5 mt-4 text-center"><button class="boton"> <i class="bi bi-person-fill-check"></i><span>Ver empleados</span></button></div>
            </div>
            <div class="col-12  ">
            <div class="p-5 mt-4 text-center">    
                <p >La fuerza del equipo viene de cada miembro</p>
                <p >La fuerza de cada miembro es el equipo</p></div>
            </div>
        </div>
    </div>
    
    <div class="p-6 bg-white shadow-lg rounded-xl w-full max-w-4xl">
      <ul class="space-y-3">
        <li href="/empleados" class="flex items-center justify-center space-x-2 p-2 border border-gray-300 rounded-lg">
          <img src="https://cdn-icons-png.flaticon.com/512/2285/2285516.png" alt="Lista" class="w-5 h-5" /> <span>Listado empleados</span>
        </li>
        <li href="/detalle-empleado/:id" class="flex items-center justify-center space-x-2 p-2 border border-gray-300 rounded-lg">
          <img src="https://cdn-icons-png.flaticon.com/512/992/992651.png" alt="Añadir" class="w-5 h-5" /> <span>Añadir empleado</span>
        </li>
        <li class="flex items-center justify-center space-x-2 p-2 border border-gray-300 rounded-lg">
          <img src="https://w7.pngwing.com/pngs/779/63/png-transparent-book-computer-icons-book-angle-furniture-rectangle.png" alt="Editar" class="w-5 h-5" /> <span>Formaciones</span>
        </li>
        <li class="flex items-center justify-center space-x-2 p-2 border border-gray-300 rounded-lg">
          <img src="https://cdn-icons-png.flaticon.com/512/1656/1656819.png" alt="Eliminar" class="w-5 h-5" /> <span>Claustro</span>
        </li>
      </ul>
    </div>
</div>
