.bodyest {
    padding: 100px;

}
.bodyest .row div{
    height: 150px;
    background-color: rgb(179, 219, 245);
    border: 3px solid blue;
    margin: 0 30px;
    border-radius: 20px;
}
.seccion-clara {
    color: rgb(91, 91, 228);
    background-color: white;
    display: flex;
    justify-content: center;
    

}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
        /* Centra verticalmente */
    height: 100px;
        /* Altura del elemento */ 
    font-size: 25px;
    font-weight: bold;
    
   
    text-align: center;
}
.btn{
    height: fit-content;
    width: fit-content;
    background-color: rgb(91, 91, 228);
    font-size: 25px;
    font-weight: bold;

}
.texto {
    align-items: center;
}
.rectangulo {
    width: 710px;
    padding: 10px;
    height: fit-content; 
    background-color: rgb(179, 219, 245);
    border: 3px solid blue;        
    border-radius: 15px;
    
   
}
.button-size{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin-top: 10%;
    border-color: blueviolet;
}

