<div class="card">
  <img [src]="employee.photo" class="card-img-top" alt="Foto del empleado">
  <div class="card-body">
    <h5 class="card-title">{{ employee.nombre }} {{ employee.apellidos }}</h5>
    <p class="card-text">
      <strong>Email:</strong> {{ employee.email }}<br>
      <strong>Teléfono:</strong> {{ employee.telefono }}<br>
      <strong>Departamento:</strong> {{ employee.departamento }}<br>
      <strong>Salario:</strong> {{ employee.salario }}€
    </p>
    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Ver empleado</button>
  </div>
</div>
