<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="logo.png" alt="Logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <h2>RAVADISA</h2>
            <h3>{{authService.email}}</h3>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <i class="bi bi-bell-fill"></i>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:info@ravadisa.com">info&#64;ravadisa.com <i class="bi bi-envelope-fill "></i></a>
                </li>
                <li class="nav-item">
                    <button href="/login" type="button" class="btn btn-dark" data-mdb-ripple-init>Cerrar sesión</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

